/* Reset some default styles for lists and links */
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Style the Bootstrap-based navigation bar */
.navbar {
    background-color: #bbb3d6!important; /* Set your desired background color */
    padding: 15px;
    padding-left: 30px;
    padding-right: 20px;
}

.navbar-brand img {
    max-height: 70px;
    transition: transform 0.3s; /* Add transition for the logo scaling */
}

.navbar-brand img:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item {
    margin-right: 20px; /* Adjust the spacing between links */
}

.nav-link {
    color: #343a40; /* Set your desired text color */
    font-weight: 600;
    transition: color 0.3s;
    font-size: 20px; /* Adjust the font size */
    font-family: "Futura Hv BT";
}


/* Increase specificity to override Bootstrap styles */
.navbar-nav .nav-item .nav-link:hover {
    color: #9f63c1; /* Change the color on hover */
}