body, body a, body .skills-bar-dev, body .skills-bar-des, body .skills-text-dev, body .skills-text-des {
    cursor: none!important; /* Hide the default cursor */
}

#custom-cursor {
    position: fixed;
    width: 30px; /* Increased size */
    height: 30px; /* Increased size */
    border: 2.5px solid #555; /* Ring border color */
    border-radius: 100%;
    background-color: rgba(234, 118, 97, 0.3)!important; /* Initial color with opacity */
    pointer-events: none; /* Make the cursor element non-interactive */
    mix-blend-mode: difference;
    z-index: 999;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s;
}

/* Responsive Adjustments for Tablet (Portrait) */
@media (max-width: 768px) {
    #custom-cursor {
        display: none;
    }
}