/* IMPORTANT */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
    background-color: #dbb5d6;
    font-family: 'Nunito Regular', sans-serif;
}
  
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
}
  
::-webkit-scrollbar-thumb {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.responsive {
    flex-direction:column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
}


/* Text Styling */
.header {
    text-align: center;
    padding: 5px;
    max-width: 1300px;
}

section {
    padding: 50px;
    margin-bottom: 25px;
    padding-top: 10px; 
}

.text-xlarge {
    font-family: 'Futura XBlk BT', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

h2, .text-large, .portfolio-option {
    font-family: 'Futura Hv BT', sans-serif;
    font-weight: 300;
    font-size: 35px;
}

.text-header {
    font-family: 'Futura XBlk BT', sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.text-xnarrow {
    font-family: 'Futura BdCn BT', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

p {
    font-family: 'Nunito Semibold', sans-serif;
    font-size: 20px;
}


/* Other Texts */
.text-header, .text-large, .text-xlarge {
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.text-medium {
    font-family: 'Futura Md BT', sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.text-med {
    font-family: 'Futura Md BT', sans-serif;
    font-weight: normal;
    margin-bottom: 0;
}

.text-small {
    font-size: 16px;
    margin-bottom: 0;
}

/* Existing styles */

/* Responsive Adjustments for Tablet (Portrait) */
@media (max-width: 768px) {
    /* Adjust font sizes for smaller screens */
    .text-xlarge {
        font-size: 40px!important;
    }

    h2, .text-large, .portfolio-option, .text-header {
        font-size: 30px!important;
    }

    .text-xnarrow {
        font-size: 25px!important;
    }

    .text-medium, .text-med, p, .button5 {
        font-size: 18px!important;
    }

    .text-small {
        font-size: 14px!important;
    }

    section {
        padding: 20px;
    }
}

/* Responsive Adjustments for iPhone (Portrait) */
@media (max-width: 375px) {
    /* Adjust font sizes for iPhone-sized screens */
    .text-xlarge {
        font-size: 32px!important;
    }

    h2, .text-large, .portfolio-option, .text-header {
        font-size: 24px!important;
    }

    .text-xnarrow {
        font-size: 20px!important;
    }

    .text-medium, .text-med, p, .button5 {
        font-size: 16px!important;
    }

    .text-small {
        font-size: 12px!important;
    }
}