body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    padding: 5px;
    max-width: 1300px;
}

section {
    padding: 50px;
    margin-bottom: 25px;
}


/* About Section */
.about-section {
    background-color: #DBB5D6;
    padding: 50px;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-content {
    width: 55%;
}

.about-image-container {
    display: flex;
    align-items: center;
}

.image-border {
    position: relative;
    width: 350px; /* Adjust the size of the image border */
    height: 350px;
    background-color: #BBB3D9; /* Background color for the image border */
    border-radius: 15px; /* Add rounded corners */
    box-shadow: 5px 5px 50px #9B8EC5; /* Add shadow to the image border */
    bottom: 25px;
    right: 150px;
    border-color: #333;
    border-style: solid;
}

.image-border img {
    width: 350px; /* Adjust the size of the image border */
    height: 350px;
    border-radius: 15px; /* Add rounded corners */
    overflow: hidden;
}

.additional-shape {
    position: relative;
    width: 350px;
    height: 350px;
    background-color: #7869B3; /* Background color for the additional shape */
    border-radius: 15px; /* Add rounded corners to the shape */
    bottom: 0px;
    left: 225px;
    border-color: #333;
    border-style: solid;
}

.button5 {
    font-family: 'Futura Hv BT', sans-serif;
    font-weight: 300;
    font-size: 25px;
    
    border-radius: 25px;
    background-color: #b08ccd;
    border-color: #7869b3;
    
    width: 100%;
    max-width: 600px; /* Adjust the maximum width for responsiveness */
    height: 40px;
}