/* Description of Chosen Work */
.back-to-category-link {
    display: block;
    text-align: center;
    font-size: 1rem;
    margin: 20px 0;
    text-decoration: none;
    color: #343a40;
}

.triangle {
    width: 75px;
    height: 75px;
    background: #333;
    clip-path: polygon(50% 0, 100% 50%, 50% 50%, 0 50%);
    transition: all 0.5s ease;
    margin: 0 auto; /* Center the triangle horizontally */
    display: block; /* Ensure it's a block element to center horizontally */
}


/* About Section */
.about-section {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.about-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
    align-items: center;
}

.about-content {
    max-width: 600px; /* Limit the maximum width for content */
    margin: 30px;
    text-align: right;
}

.about-content p {
    padding-left: 40px;
}

.about-image-container {
    max-width: 400px; /* Limit the maximum width for the image container */
    margin: 20px;
    margin-right: 40px; /* Add some space between content and image */
    background-color: #BBB3D9;
    border-radius: 20px;
    box-shadow: -20px 20px 1px #9B8EC5;
    border-color: #333;
    border-style: solid;
}

.about-image-container img {
    width: 100%; /* Make the image fill the container */
    border-radius: 18px; /* Add rounded corners */
}



/* Skills Bar Styles */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
    text-align: center;
}

.flex-row.flex-center p {
    font-size: 18px;
    margin-bottom: 10px;
}

.skills-content {
    display: flex;
    padding: 10px;
    position: relative;
    z-index: 1; /* Set a lower z-index for the skills-content */
}

.skills-bar {
    margin-top: 10px;
}

.skills-bar div {
    height: 30px;
    cursor: pointer;
}

.skills-bar-dev {
    background-color: rgb(123, 104, 184); /* Developer's color */
    width: 67%;
    border-radius: 50px 0px 0px 50px;
    transition: all 0.5s ease;
}

.skills-bar-des {
    background-color: rgb(234, 118, 97); /* Designer's color */
    width: 33%;
    border-radius: 0px 50px 50px 0px;
    transition: all 0.5s ease;
}

.skills-bar-dev:hover {
    filter:drop-shadow(0px 0px 5px rgba(123, 104, 184, 1));
}

.skills-bar-des:hover {
    filter:drop-shadow(0px 0px 5px rgba(234, 118, 97, 1));
}

.skills-text-dev,
.skills-text-des {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1; /* Set a lower z-index for the skills-text */
}

.skills-text-dev {
    text-align: left;
}

.skills-text-des {
    text-align: right;
}

.skills-text-dev .text-medium, .skills-text-des .text-medium {
    padding-top: 0;
}


/* About Box Styles */
.about-box-container {
    display: flex;
    justify-content: space-around; /* Adjust this property as needed */
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    background-color: #dbb5d6;
}

.about-box {
    width: 500px;
    height: auto;
    background-color: #fff;
    box-shadow: 10px 10px 2.5px rgba(159, 99, 193, 1);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.about-box h3 {
    color: #333;
}

.about-box a {
    color: #007bff;
}

.about-box .text-medium {
    font-size: 24px;
}

.about-box .text-med {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-box .line {
    margin: 10px 0;
    border-bottom: 2px solid #333;
    width: 50px;
    align-self: center;
}

.about-box ul {
    padding-left: 40px; /* Adjust the padding as needed */
}

.about-box li, .about-box p {
    list-style-type: disc!important; /* You can use other values like 'circle', 'square', etc. */
    margin-bottom: 8px; /* Adjust the margin between list items */
    text-align: left;
}

.about-box p {
    padding-left: 20px;
}

.whats-next-content {
    padding-left: 30px;
    padding-right: 30px;
}

.image-description-container img {
    width: 100%; /* Make the image fill the container */
    border-radius: 18px; /* Add rounded corners */
}

/* Media query for screens with a maximum width of 1300px */
@media (max-width: 1319px) {
    .about-content {
        text-align: center!important;
    }
    
    .about-image-container {
        margin: 0;
    }

    .about-content p {
        padding: 0;
    }
}

/* Media query for screens with a maximum width of 785px */
@media (max-width: 785px) {
    .skills-text-dev,
    .skills-text-des {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* Media query for screens with a maximum width of 500px */
@media (max-width: 500px) {
    .skills-text-dev,
    .skills-text-des {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}