body {
    margin: 0;
    padding: 0;
    display: block;
    flex: 1; /* Allow it to expand to fill available space */
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.header {
    text-align: center;
    padding: 5px;
    max-width: 1300px;
}

section {
    padding: 50px;
    margin-bottom: 25px;
}

.text-xlarge {
    font-family: 'Futura XBlk BT', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

h2, .text-large {
    font-family: 'Futura Hv BT', sans-serif;
    font-weight: 300;
    font-size: 35px;
}

.text-xnarrow {
    font-family: 'Futura BdCn BT', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

p {
    font-family: 'Nunito Semibold', sans-serif;
    font-size: 20px;
}


/* About Section */
.about-section {
    background-color: #DBB5D6;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-content {
    width: 55%;
}

.about-image-container {
    display: flex;
    align-items: center;
}

.image-border {
    position: relative;
    width: 350px; /* Adjust the size of the image border */
    height: 350px;
    background-color: #BBB3D9; /* Background color for the image border */
    border-radius: 15px; /* Add rounded corners */
    box-shadow: 5px 5px 50px #9B8EC5; /* Add shadow to the image border */
    bottom: 25px;
    right: 175px;
    border-color: #333;
    border-style: solid;
}

.image-border img {
    width: 350px; /* Adjust the size of the image border */
    height: 350px;
    border-radius: 15px; /* Add rounded corners */
    overflow: hidden;
}

.additional-shape {
    position: relative;
    width: 350px;
    height: 350px;
    background-color: #7869B3; /* Background color for the additional shape */
    border-radius: 15px; /* Add rounded corners to the shape */
    bottom: 0px;
    left: 150px;
    border-color: #333;
    border-style: solid;
}