/* Contact Form Styles */
#contact-form {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    background-color: #EDE7F6;
    border-radius: 10px;
}

#contact-form h2 {
    font-size: 28px!important;
    margin-bottom: 20px;
    transition: color 0.3s, transform 0.3s;
}

#contact-form label {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    transition: color 0.3s;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}


/* Add this to your CSS file */
#emailLinkButton {
    display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #6C1DE6;
    border: 1px solid #6C1DE6;
    padding: 10px 25px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 10px;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

#emailLinkButton:hover {
    color: #fff;
    background-color: #6e4fd4;
}

#emailLinkButton:active {
    color: #EDBDB2;
    background-color: #7a65c2;
    border-color: #7a65c2;
}

#contact-form button:hover {
    animation: bounce 1s infinite;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #6C1DE6;
}


/* Contact Icons Styles */
.contact-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.contact-icons a i {
    color: #343a40;
    margin: 0 30px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.contact-icons a i:hover {
    color: #B76CAD;
    transform: scale(1.1);
}


#contact-section p.text-med {
    margin: 0;
    padding: 0;
}


/* stylesheets/style.css */
/* Transition effect for the Thank You message */
#thankYouMessage {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#thankYouMessage.show {
    opacity: 1;
}


/* Contact Information Section Styles */
#contact-info {
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.contact-box-container {
    display: flex;
    justify-content: space-around; /* Adjust this property as needed */
    flex-wrap: wrap;
}

.contact-box {
    width: 300px;
    height: auto;
    background-color: #fff;
    box-shadow: 10px 10px 2.5px rgba(159, 99, 193, 1);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.contact-box h3 {
    color: #333;
}

.contact-box a {
    color: #007bff;
}

.contact-box .text-medium {
    font-size: 24px;
}

.contact-box .text-med {
    font-size: 18px;
}

.contact-box .line {
    margin: 10px 0;
    border-bottom: 2px solid #333;
    width: 10px;
    align-self: center;
}


/* Media Queries */
@media (max-width: 785px) {
    .contact-icons a {
        margin: 15px;
        padding: 10px;
    }

    .contact-icons {
        margin-top: 25px;
    }
}