.formRegister, .formLogin {
    background: rgba(300, 300, 300, 1);
    border-radius: 15px;
    padding: 20px;
    color: black;
    font-size: 16px;
    margin: auto;
    width: 550px;
    font-weight: bold;
}

input, select {
    width: 375px;
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Contact Form Styles */
.contact-form {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #EDE7F6;
    border-radius: 10px;
}

.contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-size: 1rem;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #555;
}
