/* Section Header */
.section-header {
    text-align: center;
    margin-bottom: 20px;
}
  

/* Intro to Content */
.icon-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.icon-content img {
    width: auto;
    height: 250px; /* Change 'rem' to 'px' */
    border-radius: 20px;
    border: 2px solid #6C1DE6;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.intro-content p {
    margin: 0;
    padding: 0;
}


/* Content */
.normal-content {
    margin-top: 20px;
}


/* Button Styles */
.btn-primary {
    display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #6C1DE6;
    border: 1px solid #6C1DE6;
    padding: 10px 40px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 10px;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    text-decoration: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #6e4fd4;
}

.btn-primary:active {
    color: #EDBDB2;
    background-color: #7a65c2;
    border-color: #7a65c2;
}


/* Image Gallery */
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.column.image-out {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    position: relative;
    max-height: 275px;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgba(237, 231, 246, 0.8); /* Change the background color with opacity */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

.column.image-out:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.column.image-out img {
    width: auto;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: 0.3s;
}

.column.image-out:hover img {
    filter: brightness(80%);
}




/* Image Overlay Text */
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease;
    z-index: 1; /* Ensure the overlay is on top of the image */
}

.column:hover .image-overlay {
    opacity: 1; /* Show on hover */
}

.overlay-text, .caption-text {
    text-align: center;
    z-index: 2; /* Ensure the text is on top of the overlay */
}

.image-overlay .text-header, .caption-container .text-header {
    font-size: 20px;
}

.image-overlay .text-medium, .caption-container .text-medium {
    font-size: 16px;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal Content */
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%; /* Adjust as needed */
    max-width: 1200px;
    margin: 45px auto; /* Center horizontally with auto margins */
    padding: 30px;
    padding-top: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #e6d8d5; /* Adjust background color as needed */
}

.mySlides img {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    object-fit: contain;
    background-color: #eaeaea;
}


/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.close:hover,
.close:focus {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}


/* Hide the slides by default */
.mySlides {
    display: none;
}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    height: 40px; /* Take full height */
    width: 40px;
    top: 50%; /* Position vertically in the middle */
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease;
    border-radius: 8px; /* Rounded corners for rectangular buttons */
    background-color: lightgrey; /* Background color for arrows */
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: grey;
}

/* Number text (1/3 etc) */
.numbertext {
    color: white;
    font-size: 16px;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Background for slide numbers */
    border-radius: 8px;
}


/* Caption text */
.caption-container {
    text-align: center;
    background-color: #141414;
    padding: 10px;
    color: white;
    margin-top: 15px;
    border-radius: 8px;
}

.caption-text {
    display: block;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}