/* Portfolio Work Options */
#portfolio-top {
  background-color: #DBB5D6;
  padding: 20px;
  text-align: center;
}

.portfolio-options {
  display: flex;
  justify-content: center;
}

.portfolio-option {
  padding: 10px 20px; /* Increased padding */
  margin: 0 30px;
  border-radius: 25px;
  background: #BBB3D9; /* Background color */
  transition: all 0.5s ease;
  font-size: 20px;
}

.portfolio-option:hover {
  background: #9B8EC5; /* Hover background color */
  transform: scale(1.1); /* Increase size on hover */
}

.portfolio-option a {
  color: #6C1DE6
}

.portfolio-option a:active {
  color: #EDBDB2; /* Set the color on click */
}


/* Portfolio Category */
.portfolio-category, .work-details {
  background-color: #EDE7F6;
  border-radius: 10px;
  margin: 30px; /* Added margin for spacing */
  max-width: 1300px;
}

.portfolio-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 350px;
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: center; /* Center child elements horizontally */
  justify-content: space-between; /* Distribute space between child elements */
}

.portfolio-image {
  max-width: 100%;
  border-radius: 10px;
  max-height: 200px;
  border: 2px solid #ccc; /* Added a small border to the images */
  height: 150px;
  width: 200px;
}

.work-details-link {
  display: block;
  text-align: center;
  font-size: 1rem;
  margin: 10px 0;
  text-decoration: none;
  color: #343a40;
}

.back-to-top-link {
  display: block;
  text-align: center;
  font-size: 1rem;
  margin: 20px 0;
  text-decoration: none;
  color: #343a40;
}

.portfolio-text {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
  color: black;
}

#portfolio-main, #portfolio-info {
  margin-bottom: 0;
  padding-bottom: 30px;
}


/* Description of Chosen Work */
.back-to-category-link {
  display: block;
  text-align: center;
  font-size: 1rem;
  margin: 20px 0;
  text-decoration: none;
  color: #343a40;
}

.triangle {
  width: 75px;
  height: 75px;
  background: #333;
  clip-path: polygon(50% 0, 100% 50%, 50% 50%, 0 50%);
  transition: all 0.5s ease;
  margin: 0 auto; /* Center the triangle horizontally */
  display: block; /* Ensure it's a block element to center horizontally */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
}