/* Section Header */
.section-header {
    text-align: center;
    margin-bottom: 20px;
}
  

/* Intro to Content */
.icon-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-content img {
    width: auto;
    height: 250px; /* Change 'rem' to 'px' */
    border-radius: 20px;
    border: 2px solid #6C1DE6;
}


/* Content */
.normal-content {
    margin-top: 20px;
}


/* Button Styles */
.btn-primary {
    display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #6C1DE6;
    border: 1px solid #6C1DE6;
    padding: 10px 40px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 10px;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    text-decoration: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #6e4fd4;
}

.btn-primary:active {
    color: #EDBDB2;
    background-color: #7a65c2;
    border-color: #7a65c2;
}


/* Carousel Styles */
#carouselWork {
    margin-top: 20px;
    max-height: 600px;
    overflow: hidden; /* Hide overflowing content */
    background-color: #eee; /* Background color for images that don't fit */
    border-radius: 20px;
}

.carousel-inner {
    max-height: 100%; /* Make sure the carousel takes the full height */
}

.carousel-item img {
    width: auto!important; /* Allow images to adjust their width */
    max-height: 600px; /* Make sure images take the full height */
    margin: 0 auto; /* Center images horizontally */
    background-color: #ddd; /* Background color for images that don't fit */
}


/* Carousel Control Styles */
.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.3); /* Background color with opacity for nav controls */
    width: 40px; /* Increase the width of the controls */
    border-radius: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #000; /* Black color for arrow icons */
    font-size: 24px; /* Increase the font size of the arrow icons */
    border-radius: 50%; /* Make the icons circular */
}

/* Hover effect for nav controls */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Darker background color on hover */
}


/* Carousel Captions */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black background */
    color: white; /* Text color */
    padding: 10px; /* Padding around the text */
    border-radius: 20px; /* Rounded corners */
}

.carousel-caption h5 {
    font-size: 24px; /* Caption title font size */
    margin-bottom: 5px; /* Spacing between title and description */
}

.carousel-caption p {
    font-size: 18px; /* Caption description font size */
    margin-bottom: 0; /* Remove default margin for paragraphs */
}


@media only screen and (max-width: 980px) {
    .carousel-item img {
        width: 100%!important;
        height: 100%;
        object-fit: cover;
    }

    .carousel-caption {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}